/* PrismJS 1.25.0
https://prismjs.com/download.html#themes=prism-tomorrow&languages=markup+css+clike+javascript */
/* code[class*=language-], pre[class*=language-] {
	color: #ccc;
	background: 0 0;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	font-size: 1em;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none
} */

/* pre[class*=language-] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto
} */

/* :not(pre)>code[class*=language-], pre[class*=language-] {
	background: #2d2d2d
} */

/* :not(pre)>code[class*=language-] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal
} */

:root {
	--bg0: #2b3339;
	--bg1: #323c41;
	--bg2: #3a454a;
	--bg3: #445055;
	--bg4: #4c555b;
	--bg_green: #53605c;
	--bg_visual: #503946;
	--bg_red: #4e3e43;
	--bg_blue: #394f5a;
	--bg_yellow: #4a4940;
	--fg: #d3c6aa;
	--red: #e67e80;
	--orange: #e69875;
	--yellow: #dbbc7f;
	--green: #a7c080;
	--aqua: #83c092;
	--blue: #7fbbb3;
	--purple: #d699b6;
	--grey0: #7a8478;
	--grey1: #859289;
	--grey2: #9da9a0;
}

.token.block-comment, .token.cdata, .token.comment, .token.doctype, .token.prolog {
	color: var(--grey0)
}

.token.punctuation {
	color: var(--grey2)
}

.token.attr-name, .token.deleted, .token.namespace, .token.tag {
	color: var(--red)
}

.token.function-name {
	color: var(--blue)
}

.token.boolean, .token.function, .token.number {
	color: var(--orange)
}

.token.class-name, .token.constant, .token.property, .token.symbol {
	color: var(--yellow)
}

.token.atrule, .token.builtin, .token.important, .token.keyword, .token.selector {
	color: var(--purple)
}

.token.attr-value, .token.char, .token.regex, .token.string, .token.variable {
	color: var(--green)
}

.token.entity, .token.operator, .token.url {
	color: var(--aqua)
}

.token.bold, .token.important {
	font-weight: 700
}

.token.italic {
	font-style: italic
}

.token.entity {
	cursor: help
}

.token.inserted {
	color: green
}